.photoFelipeNiederhauser{
    height: 300px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}


.bioText{
    padding-left: 40px;
    padding-right: 40px;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 100px;
}