*{
    font-family: sans-serif;
}

.felipeNiederhauser{
    font-size: larger ;
    font-weight: normal;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.navbar-nav li.nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #33333381;
}

.navbar-toggler{
background-color: rgb(241, 238, 238);
color: black;
}

.gradient-top {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.595), rgba(0,0,0,0));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; /* ajusta la altura del degradado según tus necesidades */
    z-index: 9999; /* ajusta el z-index para asegurarte de que el degradado esté por encima del contenido */
  }


