*{
    font-family: sans-serif;
}

.felipeNiederhauser{
    font-size: larger ;
    font-weight: normal;
}

.nav-link.active {
    text-decoration: underline;
    color: red;
  }

.dropdown-menu1 {
    background-color: rgba(0, 0, 0, 0.467);
    border: none;
}

.dropdown-menu2 {
    background-color: rgba(251, 249, 249, 0.592);
    border: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.background1:hover {
    background-color: #33333381;
}

.navbar-toggler{
background-color: rgb(241, 238, 238);
color: black;
}

.gradient-top {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.595), rgba(0,0,0,0));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; 
}

@media (min-width: 992px) {
    .navbar-navMargin {
      margin-right: 100px;
    }
  }