*{
    font-family: sans-serif;
}

.felipeNiederhauser{
    font-size: larger ;
    font-weight: normal;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.fondo1:hover {
    background-color: #33333381;
}

.fondo2:hover{
    background-color: rgba(255, 255, 255, 0.547);
}

.navbar-toggler{
background-color: rgb(241, 238, 238);
color: black;
}

.gradient-top {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.595), rgba(0,0,0,0));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; 
  }


