*{
    font-family: sans-serif;
}

.felipeNiederhauser{
    font-size: larger ;
    font-weight: normal;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
  }

.dropdown:hover .dropdown-menu{
    display: block;
}

nav {

    text-shadow: 1px 1px 2px black;
}

.navbar-nav.ml-auto li.nav-item svg{
    fill: rgb(167, 163, 163);
}

.mail2{
    font-size: small;
}

.navbar-nav li.nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #333;
  }
