footer {
    height: 60px;
    margin-top: 50px;
  }
  
  footer  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  footer svg {
    margin: 0 10px;
  }

  footer svg:hover{
    fill: #363b3f;
} 